<!DOCTYPE html>
<html lang="id">
    <head>
        <title>{{greet}}, {{name}}</title>
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>
        <h1>{{greet}}, {{name}}</h1>
    </body>
</html>